{% extends "base.html" %}

{% block content %}
<form action="" method="GET" class="forms">
    <div class="input-groups">
        <input type="text" name="q" placeholder="Search" />
        <span class="btn-append">
            <button class="btn">Go</button>
        </span>
    </div>
</form>

{% if query %}
    {% for card in cards %}
        <p>
            <a href="{% url 'single_card' card.id card.slug %}">{{ card.name }}</a>
        </p>
    {% empty %}
        <p>No cards matched the query '{{ query }}'.</p>
    {% endfor %}
{% endif %}
{% endblock %}
