{% extends "base.html" %}

{% block title %}Booster - {{ booster.name }}{% endblock %}

{% block content %}
<div class="units-row end">
    <div class="unit-50">
        <div>
            <img src="{{ booster.image_url }}" alt="{{ booster.name }}" />
        </div>
        <div>
            <h2>{{ booster.name }}</h2>
            <p>Cost: {{ booster.cost }}DP</p>
        </div>
    </div>
    <div class="unit-50">
        <table>
            <thead>
                <tr><td><h2>Cards</h2></td></tr>
            </thead>
            <tbody>
                {% for card in cards %}
                    <tr>
                        <td>
                            <a href="{% url 'single_card' card.id card.slug %}">{{ card.name }}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No cards available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}